.env
transmission
!transmission/.gitkeep
buildarr
!buildarr/.gitkeep
jackett
!jackett/.gitkeep
radarr
!radarr/.gitkeep
sonarr
!sonarr/.gitkeep
jellyfin
!jellyfin/.gitkeep
jellyseerr
!jellyseerr/.gitkeep
lidarr
!lidarr/.gitkeep
tailscale
!tailscale/.gitkeep
tailscale-socket
!tailscale-socket/.gitkeep